*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box
body
  font-family: sans-serif
  line-height: 1.5
  background-color: #e76cd7
  overflow: auto
  &::-webkit-scrollbar
    width: 0
  &::-webkit-scrollbar-thumb
    background: green
  &::-webkit-scrollbar-track
    border: 1px solid green

a
  text-decoration: none
  color: inherit
.fa-solid
  font-size: 45px
  color: white
ul, ol
  list-style: none

button
  background: none
  border: none
  cursor: pointer
  font: inherit
  padding: 0
  margin: 0

table
  border-collapse: collapse
  width: 100%

img
  max-width: 100%
  height: auto
  display: block
.logo
  font-family: Lavishly Yours, serif
  font-size: 75px
  color: white
  transition: all .3s ease
  position: relative
  z-index: 3
.black
  color: black
  transition: all .3s ease
.burger
  height: 110px
  width: 110px
  display: flex
  justify-content: center
  align-items: center
  background-color: black
  border-radius: 50%
  border: 1px solid #ffffff8e
  z-index: 3
  position: relative
.navigation
  display: flex
  justify-content: space-between
  align-items: center
  &-menu
    margin: auto
    width: 100%
    padding: 50px
    position: fixed
    z-index: 4
nav
  width: 100%
  height: 100vh
  display: flex
  justify-content: space-between
  background: grey
  position: fixed
  left: -100%
  top: 0
  z-index: 2
  transition: all .5s ease
  ul
    transform: translateY(50%)
    padding: 50px
    height: 50vh
    li
      margin-bottom: 15px
      .nav-link
        color: black
        font-family: Merriweather, serif
        font-weight: 300
        font-size: 50px
  .products-block
    display: flex
    flex-direction: column
    border: none
    height: 100vh
    overflow-y: auto
    &::-webkit-scrollbar
      width: 10px
    &::-webkit-scrollbar-thumb
      background: #7f1313
      border-radius: 20px
    &::-webkit-scrollbar-track
    .color
      border-radius: 10%
      margin: 8px
      width: 600px
      height: 500px
      padding: 15px
      background-color: #4bd1d3
      flex-shrink: 0
  &.active
    left: 0
.hero
  display: flex
  width: 100%
  position: relative
  z-index: 1
  top: 0
  overflow: auto
  &-text
    width: 50%
    height: 100vh
    background-color: red
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h1
      font-size: 80px
      width: 500px
      text-align: center
      transform: skewY(-10deg)
      font-family: Merriweather, serif
      text-shadow: rgb(0,0,0,) 8px 8px 0
      transition: transform 0.3s, color 0.3s
      margin-right: 20px
      color: white
      text-transform: uppercase
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
      -webkit-text-stroke-color: rgb(0, 0, 0)
      margin-bottom: 40px
    button
      display: flex
      justify-content: center
      border: 2px solid black
      border-radius: 4px
      background-color: white
      padding: 20px 30px
      box-shadow: rgb(0,0,0,) 8px 8px 0 0
      transform: skewY(-10deg)
      text-transform: uppercase
      transition: all .3s ease
      a
        font-family: Merriweather, serif
        font-size: 30px
      &:hover
        box-shadow: none
        background-color: black
        color: white
        transform: skewY(-10deg) translate(8px, 8px)
        border: 2px solid white
      &:active
        border: none
        background-color: #222121

  &-carousel
    width: 50%
    height: 100vh
    background-color: #1e0a61

.footer
  flex: 0 0 auto
  display: flex
  justify-content: center
  align-items: center
  padding: 30px 80px
  background-color: grey
  z-index: 3

.scroll-down-container
  margin: auto
  position: relative
  z-index: 3
  width: 170px
  height: 170px
  display: flex
  align-items: center
  justify-content: center
  transform: translateY(-50%)
  svg
    transform: rotate(0deg)
    animation: rotateText 10s linear infinite
    text
      font-size: 15px
      letter-spacing: 2px
      fill: white
  .arrow
    position: absolute
    font-size: 35px
    color: white

@keyframes rotateText
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)
